<div id="carousel">
    <div class="carousel-item-block z-depth-3">
        <div class="carousel-item-img">
            <img src="/img/images-test/1.jpg" alt="">
        </div>
        <div class="carousel-item-body">
            <div class="carousel-item-title">Photo 1</div>
            <div class="carousel-item-describe">Ici une petite description pour tester ce carousel</div>
        </div>
    </div>
    <div class="carousel-item-block z-depth-3">
        <div class="carousel-item-img">
            <img src="/img/images-test/2.jpg" alt="">
        </div>
        <div class="carousel-item-body">
            <div class="carousel-item-title">Photo 2</div>
            <div class="carousel-item-describe">Ici une petite description pour tester ce carousel</div>
        </div>
    </div>
    <div class="carousel-item-block z-depth-3">
        <div class="carousel-item-img">
            <img src="/img/images-test/3.jpg" alt="">
        </div>
        <div class="carousel-item-body">
            <div class="carousel-item-title">Photo 3</div>
            <div class="carousel-item-describe">Ici une petite description pour tester ce carousel</div>
        </div>
    </div>
    <div class="carousel-item-block z-depth-3">
        <div class="carousel-item-img">
            <img src="/img/images-test/4.jpg" alt="">
        </div>
        <div class="carousel-item-body">
            <div class="carousel-item-title">Photo 4</div>
            <div class="carousel-item-describe">Ici une petite description pour tester ce carousel</div>
        </div>
    </div>
    <div class="carousel-item-block z-depth-3">
        <div class="carousel-item-img">
            <img src="/img/images-test/5.jpg" alt="">
        </div>
        <div class="carousel-item-body">
            <div class="carousel-item-title">Photo 5</div>
            <div class="carousel-item-describe">Ici une petite description pour tester ce carousel</div>
        </div>
    </div>
    <div class="carousel-item-block z-depth-3">
        <div class="carousel-item-img">
            <img src="/img/images-test/6.jpg" alt="">
        </div>
        <div class="carousel-item-body">
            <div class="carousel-item-title">Photo 6</div>
            <div class="carousel-item-describe">Ici une petite description pour tester ce carousel</div>
        </div>
    </div>
</div>
